.contributor-container{
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
}

.icon {
  color: #535bf2;
}

.tips{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.tip{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}