.banner {
  height: 80vh;
  /* background: url("../../assets/banner.jpg") no-repeat center center/cover; */
  text-align: center;
  padding-top: 100px;
  background-color: var(--secondary-color-1);
  border-bottom: 1px solid var(--secondary-color-2);
}

.heroTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heroTexts h1 span {
  color: var(--primary-color-1);
}

.heroTexts p {
  font-size: 1.2rem;
}

.heroBtns {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
